/*ASIDE*/
.asideDelindex {
    margin: 10px;
    padding: 10px 10px 10px 50px;
    color: rgb(143, 5, 143);
    word-spacing: 60px;
}

#collapseOne{
    background-image: linear-gradient(#d7d5e6, rgb(173, 202, 247));
}