/*sección Contacto*/
.contactoContacto {
    border: none;
    color: rgb(155, 22, 155);

}

.subtitulo__delcontacto {
    color:  rgb(155, 22, 155);
    font-size: 20px;
}

.div__delformulario {
    margin: 10px;
    padding: 10px 10px 10px 50px;
}
.div__delformulario form label {
    margin: 10px;
    padding: 10px 10px 10px 50px;
}
.div__delformulario form label input {
    margin: 10px;
    padding: 10px 10px 10px 50px;
}
.divSexo {
    margin: 10px;
    padding: 10px 0px 10px 50px;
}
select {
    padding-bottom: 10px;
    margin: 5px;
    padding: 0px 10px 0px 10px;
}
.divAceptaterminos {
    margin: 10px;
    padding: 10px;
}